div.two_Ads {
    margin-top: 24px;
    > div {
        width: 1336px;
        > div {
            border-radius: 16px;
            overflow: hidden;
            > a {
                > img {
                    width: 644px;
                }
            }
        }
    }
}